/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.fullPage {
  height: 100%;
  width: 100%;
}

.form-field {
  max-width: 250px;
  min-width: 250px;
}

.user-card {
  max-width: 400px;
}
